# Code to implement astroquery on simbad and Vizier

In [1]:
from astroquery.simbad import Simbad
import astropy.coordinates as coord
import astropy.units as u
from astropy.io import ascii
from astropy.table import Table
from astropy.coordinates import SkyCoord 
from astroquery.sdss import SDSS
import numpy as np

In [2]:
# Read the table
tab = Table.read("../SDSS/J_MNRAS_403_896_tablea1.dat", format="ascii")
tab.info

<Table length=181>
  name   dtype
------- -------
  recno   int64
    Seq   int64
RAJ2000 float64
DEJ2000 float64
  Plate   int64
    MJD   int64
  Fiber   int64
 [OII]1 float64
[OIII]1 float64
[OIII]2 float64
 [SII]1 float64
 [SII]2 float64
 [OII]2 float64
   t3,O float64
   t2,O float64

In [8]:
Seq = tab["Seq"]
ra = tab["RAJ2000"]
dec = tab["DEJ2000"]
table = Table([Seq, ra, dec], names=('Seq', 'RA', 'DEC'), meta={'name': 'first table'}) 
dec

<Column name='DEJ2000' dtype='float64' length=181>
  0.8572222222222221
 -0.7184166666666666
  0.5493611111111111
  0.5493611111111111
  0.5493611111111111
  0.3312777777777777
  0.3312777777777777
  0.3312777777777777
  -8.893833333333331
  1.2174444444444443
-0.23238888888888887
-0.20299999999999996
                 ...
   56.47713888888888
   56.47713888888888
  -6.088138888888888
   -7.99761111111111
  0.3226944444444444
0.002472222222222222
  1.1608333333333332
  1.1608333333333332
  1.1608333333333332
  13.453694444444443
 -1.1824722222222221
 -1.1824722222222221

In [9]:
asciifile = "../SDSS/J_MNRAS_403_896_tablea1_coor.dat" 
table.write(asciifile, format="ascii")